{% extends "base.html" %}
{% block title %}Rules - The Streaking of Isaac{% endblock %}
{% block content %}
Inspired from <a href="https://docs.google.com/spreadsheets/d/1So2N0caOnTe7ctLg1OYEYg_8Eqc_ak03Vm4TXsgHG0c/edit?gid=2144039399#gid=2144039399" target="_blank" rel="noopener">Leaderboard streaks Issac</a>

<h1>Rules</h1>

<h2>Global rules</h2>
<ol>
    <li>The specified goal of the streak must be completed in a run. Streak counts after the ending/credits.</li>
    <li>Every run must be on hard.</li>
    <li>No Save & Quit abuse.</li>
    <li>Every run must be streamed.</li>
    <li>Mods that alter the gameplay(i.e. new rooms, mobs etc.) are forbidden.</li>
    <li>Streaks must be on full save file(dead god)</li>
    <li>All runs should have seeds visible on the screen (Rebirth Item Tracker, pause in the beginning or in the end of the run)</li>
</ol>
<h2>Notes</h2>
<ul>
    <li>Submit your records through the <a href="https://docs.google.com/forms/d/17pRWXNAsu9GndMyTInz5GF_3P3-mwmRuPLvRcQVd9j0/edit" target="_blank" rel="noopener">record submission</a>.</li>
    <li>If you have any questions/suggestions about leaderboard message DobryyLisenok#9221</li>
    <li>The rules may change over time</li>
</ul>
<h2>Additional categories</h2>
<h3>4Goals</h3>
<ol>
    <li>Runs must form a cycle of 4 goals(chest,dark room,mother,the beast)</li>
    <li>You must keep the order of goals consistent throughout the streak(e.g. if you go for dark room-chest-mother-the beast you must achieve them in that specific order)</li>
</ol>
<h3>Random Boss</h3>
<ol>
    <li>Random pool usually has 4 goals(chest,dark room,mother, beast)</li>
    <li>Player rolls a dice at the start of each run to determine which boss eden goes to.</li>
    <li>If you have a situation where you do not have key from two floors, and you have a streak to mother or 4 goals then I can few ways for how to continue the streak:
        <ol>
            <li>You can go to the beast in this run and in the next run go to the mother</li>
            <li>Or just go to the chest and don't count this run in your streak.</li>
        </ol>
    </li>
</ol>
<h3>Other Streaks</h3>
<p>There are various streaks,which are not so popular, but worthy of attention</p>
{% endblock %}
