{% extends "base.html" %}
{% block title %}Rules - The Streaking of Isaac{% endblock %}
{% block content %}
Inspired from <a href="https:https://docs.google.com/spreadsheets/d/15SfeOv0HR6Rhp1drxTbS34DhLDR7g-tMIiDftjnucgs/edit?gid=1892143728#gid=1892143728" target="_blank" rel="noopener">Leaderboard streaks Issac</a>

<h1>Rules</h1>

<h2>Global rules</h2>

All streak rules are <a href="https://www.isaacstreaking.com/about" target="_blank" rel="noopener">here</a>

<h2>Notes</h2>

<ul>
    <li>If you want to submit streaks it's <a href="https://docs.google.com/forms/d/1GS2nmf7E0F_ECGiWb0v1GENjewGtFbh0Nw-bND2WvXI/edit" target="_blank" rel="noopener">here</a></li>
    <li>If you have any questions/suggestions about leaderboard message DiaXii6_ in PM discord or twitch</li>
    <li>Streaking discord link: <a href="https://discord.gg/p6aZmdMuCV" target="_blank" rel="noopener"></a>https://discord.gg/p6aZmdMuCV</li>
    <li>Current gdoc editors : <a href="https://www.twitch.tv/diaxii6_">DiaXii6_</a> / <a href="https://www.twitch.tv/spc_l">SPC_L</a> <a href="https://www.twitch.tv/fitzooouu">Fitzooouu</a></li>
    <li>Current streaking-of-isaac editor : <a href="https://www.twitch.tv/totobono4">totobono4</a></li>
    <li>If you see one or more streaks missing from a person you know, don't hesitate to request his/her streak to be added. You don't have to be the person who made the streak to submit it.</li>
    <li>If there is a comment on a streak, it means that the person has not followed a streak rule but that it is still valid.</li>
    <li>⚠️⚠️⚠️Please notify DiaXii6_ (on Discord, Twitch, or via a streak request) if you change your Twitch username, because the links to your Twitch channel and clips include your username, changing it will break those old links, so please notify me so I can update them.</li>
</ul>

The rules may change over time
{% endblock %}
