{% extends "base.html" %}
{% block title %}Rules - The Streaking of Isaac{% endblock %}
{% block content %}
Inspired from <a href="https://docs.google.com/spreadsheets/d/15SfeOv0HR6Rhp1drxTbS34DhLDR7g-tMIiDftjnucgs" target="_blank" rel="noopener">Leaderboard streaks Issac</a>
The actual <a href="https://github.com/totobono4/streaking-of-isaac" target="_blank" rel="noopener">Github</a>

<h1>Rules</h1>

<h2>Global rules</h2>
All streak rules are <a href="https://www.isaacstreaking.com/about" target="_blank" rel="noopener">here</a>

<h3>Notes</h3>
<ul>
    <li>If you want to submit streaks it's <a href="https://docs.google.com/forms/d/1GS2nmf7E0F_ECGiWb0v1GENjewGtFbh0Nw-bND2WvXI/edit" target="_blank" rel="noopener">here</a></li>
    <li>If you have any questions/suggestions about leaderboard message DiaXii6_ in PM discord or twitch</li>
    <li>Streaking discord link: <a href="https://discord.gg/p6aZmdMuCV" target="_blank" rel="noopener"></a>https://discord.gg/p6aZmdMuCV</li>
    <li>Current gdoc editors : <a href="https://www.twitch.tv/diaxii6_">DiaXii6_</a> / <a href="https://www.twitch.tv/spc_l">SPC_L</a> / <a href="https://www.twitch.tv/fitzooouu">Fitzooouu</a></li>
    <li>Current streaking-of-isaac editor : <a href="https://www.twitch.tv/totobono4">totobono4</a></li>
    <li>If you see one or more streaks missing from a person you know, don't hesitate to request his/her streak to be added. You don't have to be the person who made the streak to submit it.</li>
    <li>If there is a comment on a streak, it means that the person has not followed a streak rule but that it is still valid.</li>
    <li>⚠️⚠️⚠️Please notify DiaXii6_ (on Discord, Twitch, or via a streak request) if you change your Twitch username, because the links to your Twitch channel and clips include your username, changing it will break those old links, so please notify me so I can update them.</li>
</ul>

<h2>Categories</h2>

<h3>4 Goals</h3>
<ol>
    <li>Runs must form a cycle of 4 goals (chest,dark room,mother,the beast)</li>
    <li>You must keep the order of goals consistent throughout the streak(e.g. if you go for dark room-chest-mother-the beast you must achieve them in that specific order)</li>
</ol>
<h3>Random Boss</h3>
<ol>
    <li>Random pool usually has 4 goals (chest,dark room,mother, beast), but you can add other bosses such as Delirium.</li>
    <li>Player rolls a dice or spins a wheel at the start of each run to determine which boss eden goes to (show on stream to prove it)</li>
    <li>
        If you're in a situation where you got 0 keys on the first two floors during a mother run, you can:
        <ol>
            <li>On a 4 Goals streak, you can do the goals from the next run instead (probably beast) and go for mother next run.</li>
            <li>Give the key via the console (spawn 5.30.1)</li>
        </ol>
        (make sure there were no keys; if there was a key available somewhere, then you must continue the run and either use RKey or find an item that allows you to open the door that gives access to Corpse)
    </li>
</ol>

<h3>Other Streaks</h3>
<ul>
    <li>There are various streaks,which are not so popular, but worthy of attention</li>
</ul>

<h3>6 Goals</h3>
<ol>
    <li>Runs must form a cycle of 6 goals (chest,dark room,mother,the beast,mega satan,delirium)</li>
    <li>You must keep the order of goals consistent throughout the streak</li>
</ol>

<h3>Delirium</h3>
<ol>
    <li>you can take any path (unless you specify that you must kill a specific boss first)</li>
</ol>

<h3>Hoarder</h3>
<ol>
    <li>you have to pick up every item you see and use all the pills you see (if it's known, you don't have to use it)</li>
    <li>if you have a choice of several items but can only take one, you have the right to choose the one you want (in a devil deal, if buying an item kills you, you can not to take it)</li>
</ol>
<ul>
    <li>
        If in a Beast run, curse of the maze teleports you directly in the boss, you're allowed to give yourself a The Fool card with the console (spawn 5.300.1).<br>
        This isn't allowed if you've already seen the marked skull or another teleport card on that floor and don't take it.
    </li>
</ul>

<h3>Random V1 & V2</h3>
<ol>
    <li>Random V1 corresponds to normal characters.</li>
    <li>Random V2 corresponds to tainted characters.</li>
    <li>The character is randomly selected directly in-game.</li>
</ol>

<h3>GameBreak Only</h3>
<ol>
    <li>For the full GB streak, you must kill the designated boss and establish the GB, if one of these two conditions is missing, the run is invalid.</li>
    <li>For a GameBreak to be counted as validated, you need to be able to release an unlimited quantity of resources, leading to the creation of unlimited piedestaux, which can be reroll an unlimited number of times.</li>
    <li>In the full GB streak, even if it's an eden blessing that gives you tmtrainer, you can remove it (unlike in the normal streak), but you can't remove this game to make another one, it must be played.</li>
    <li>If the GB is considered too long (for example, a GB with placenta), you must explain why the GB is valid (oral or written) and finish the game.</li>
</ol>

The rules may change over time
{% endblock %}
